<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Employee Web Application</title>
</head>
<body>
<h2 class="h2">Add new employee</h2>
<form method="post" th:action="@{/saveEmployee}" th:object="${employee}">
    <input type="text" th:field="*{firstName}">
    <input type="text" th:field="*{lastName}">
    <input type="text" th:field="*{mail}">
    <input type="password" th:field="*{password}">
    <button type="submit" c>Add employee</button>
</form>
</body>
</html>